@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовый фон и текст */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f9fafb; /* светлый фон */
  color: #111827;            /* тёмный текст */
}

/* Контейнер, как на макетах */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
